@model DirectoryInfo
@{
    var id = "freshAddedDir" + @Model.Name;
    var directory = @Model.FullName.Substring(@Model.FullName.IndexOf(@"\Files\RootFolder\") + 18);
}
<tr id="@id">
    <td>
        @Html.ActionLink(" " + @Model.Name, "Index",
                                new { directory = @directory },
                                htmlAttributes: new { @class = "glyphicon glyphicon-folder-close ", Title = "Open Directory" })
        @Html.Partial("_DeleteDirectoryLink", new ViewDataDictionary { { "id", @id }, { "directory", @directory } })
        @Html.Partial("_EditDirectoryLink", new ViewDataDictionary { { "updateTargetId", @id }, { "directory", @directory } })
    </td>
    <td>@Model.CreationTime</td>
    <td>-</td>
</tr>
<tr id="newDirectories"></tr>