@using DirectoriesSystem.Models

@model DirectoryEditInputModel

@{
    var id = "edit" + @Model.Name;
}

<tr id=@id>
    <td>
        @using (Ajax.BeginForm("RenameDirectory", "Home", null,
            new AjaxOptions
            {
                InsertionMode = InsertionMode.ReplaceWith,
                UpdateTargetId = @id,
                LoadingElementId = "progressBar",
                HttpMethod = "POST",
            },
            new { id = "editDirectoryForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.FullPath)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert-warning" })
            <input type="submit" class="btn" value="Rename" />
        }
    </td>
    <td>@Model.ModifiedOn</td>
    <td>-</td>
</tr>
